<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Failed</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="Heading">
        <h1 class="title">TravLR</h1>
    </div>

    <h2 style="text-align: center; margin-top: 0px;">Registration Failed</h2>

    <p style="text-align: center;">The username you have chosen is already taken. Please choose a different username.</p>

    <p style="text-align: center;">Go back to the <a href="/register">registration page</a> to try again.</p>
    <p style="text-align: center;">Already have an account? <a href="/login">Log in here</a></p>

</body>
</html>