<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <div id="mySidenav" class="sidenav">
        <div class="sidenav-header">
            <a class="nav-header" href="">
                <h2>Home</h2>
            </a>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        </div>

        <a href="history" class="">History</a>
        <a href="wishlist" class="">Wishlist</a>
        <a href="settings" class="">Settings</a>
        <a href="account" class="">Account</a>
        <a href="logout" class="">Logout</a>
    </div>
    <div class="Heading">
        <h1 class="title">Location</h1>
        <p onclick="openNav()" class="Hamburger">&#8801;</p>
    </div>
    <h2 id="location-name" style="text-align: center;"></h2>

    <h2 style="text-align: center;">Visited here before?</h2>
    <form id="location-form" style="padding-top: 10px;" action="add-location">
        <label for="photos">Photos:</label>
        <input type="file" id="photos-upload" name="photos" multiple><hr>
        <label style="vertical-align: baseline;" for="notes">Notes:</label>
        <textarea id="notes" name="notes" rows="4" cols="50"></textarea><hr>
        <label for="rating">Rating:</label>
        <select id="rating" name="rating">
            <option value="1">1⭐️</option>
            <option value="2">2⭐️</option>
            <option value="3">3⭐️</option>
            <option value="4">4⭐️</option>
            <option value="5">5⭐️</option>
        </select><br>
        <input style="margin-top: 10px;" type="submit" value="Add to History">
    </form>
    
</body>
</html>