<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="Heading">
        <h1 class="title">TravLR</h1>
    </div>

    <h2 style="text-align: center; margin-top: 0px;">Register</h2>

    <form action="/register" method="POST" class="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Register">
    </form>
    <p style="text-align: center;">Already have an account? <a href="/login">Log in here</a></p>

</body>
</html>