<%- include("../partials/header") %>

    <form action="/login" method="POST" class="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Login">
    </form>
    <% if (typeof errorMessage !== 'undefined') { %>
        <p id="errorMessage"><%= errorMessage %></p>
    <% } %> 
    <p style="text-align: center;">Don't have an account? <a href="/register">Register here</a></p>


<%- include("../partials/footer") %>