html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #BCFBC0;
    color: #145A32;
    font-size: large;
    font-weight: 550;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
}

.Heading {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.title {
    flex: 2;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

/* Navigation styles */
.Hamburger {
    flex: 1;
    font-size: 48px;
    cursor: pointer;
    position: absolute;
    right: 40px;
}
.Hamburger:hover {
    font-weight: bold;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1500;
    top: 0;
    right: 0;
    background-color: #9BCF9E;
    overflow-x: hidden;
    transition: 0.5s;
}

a:visited {
    color: #145A32;
}

a:hover {
    font-weight: bold;
}

.sidenav a {
    padding: 40px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 25px;
    color: #145A32;
    display: block;
    transition: 0.3s;
}

.sidenav a:nth-child(2) {
    padding-top: 0px;
}

.sidenav a:hover {
    font-weight: bold;
}

.sidenav .closebtn {
    position: absolute;
    padding: 0px;
    right: 20px;
    font-size: 60px;
    flex: 1
}

.sidenav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header {
    flex: 2;
}

/* Form Styles */
form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

label {
    display: inline-block;
}

.location-form label{
    margin: 20px;
}

input[type="text"],
input[type="password"] {
    width: 30%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #145A32;
    border-radius: 5px;
}

input[type="submit"], select {
    background-color: #1CFF29;
    color: #145A32;
    padding: 8px 16px;
    border: 1px solid #145A32;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover, select:hover {
    background-color: #16CC21;
    font-weight: bold;
}
input[type="file"] {
    width: 180px;
    margin: 10px;
    margin-left: 0px
}
textarea {
    width: 60%;
    border-radius: 5px;
    border: 1px solid #145A32;
    margin: 10px
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

.fade-out {
    animation-name: fadeOut;
    animation-duration: 3s;
}

.content {
    flex: 1;
}
#errorMessage {
    color: red;
    font-weight: bold;
    text-align: center;
}
#successMessage {
    color: green;
    font-weight: bold;
    text-align: center;
}
/* Forms */
#location-form, #location-div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color:  #1d854a;
    border-radius: 50px;
    box-shadow: 5px 10px 15px 5px #145A32;
    color: white;
    padding: 10px;
}
#location-form {
    margin-bottom: 20px;
}
/* History Page */
#location-div {
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
    max-width: 50%;
}
#location-div h3 {
    margin-top: 0px;
}

#location-div p {
    margin-bottom: 0;
}
#location-div p:nth-child(2) {
    font-weight: bold;
}
#notes-div {
    display: inline-block;
}
#notes-div label {
    vertical-align: text-top;
}
/* Map Styling */
#map-container {
    display: flex;
    flex-flow: row;
    margin: auto;
    text-align: center;
}
#map {
    height: 500px;
    width: 60%;
    margin-right: 10px;
    border-radius: 50px;
    margin-left: auto;
}
#key-div {
    display: flex;
    flex-flow: column;
    margin-right: auto;
}
.key {
    display: flex;
    flex-flow: row;
    text-align: center;
}
.pins {
    width: 50px;
}
.key-text {
    text-align: center;
}
#green-div, #gold-div {
    background-color: #1d854a;
    color: white;
    box-shadow: 5px 10px 15px 5px #145A32;
    border-radius: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 80%;
    margin-left: auto;
}

footer {
    text-align: right;
    font-weight: bold;
    margin-right: 20px;
    padding: 1rem;
    padding-bottom: 0px;
}
/* Leaflet popup */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: #1d854a;
    box-shadow: 5px 10px 15px 5px #145A32;
    cursor: pointer;
}
.leaflet-popup-content {
    text-align: center;
    color: white;
}
.leaflet-popup-close-button {
    color: white !important;
    opacity: 1;
}
.leaflet-popup-close-button:hover {
    color: rgb(255, 3, 3) !important;
}

/* SlideShow styles */

.slideshow-container {
    margin-top: 40px;
    position: relative;
    margin: auto;
    max-width: 40%;
    border-radius: 20px;
    background-color: #1d854a;
    box-shadow: 5px 10px 15px 5px #145A32;
}

.fact-slides {
    display: none;
    padding: 20px;
    text-align: center;
    color: white;
    padding: 20px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev {
    margin-right: 20px;
    left: 0;
}
.next {
    margin-left: 20px;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    color: #16CC21;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}